.button--primary {
  background: #658cd3;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  height: 45px;
  outline: none;
  text-align: center;
  width: 160px;
}

.button--secondary {
  background: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #757575;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 30px;
  outline: none;
  text-align: center;
  line-height: 30px;
}
