.ButtonSelect {
  background: #FFFFFF;
  margin-right: 8px;
  overflow: hidden;
  position: relative;
  width: 100px;

  &__arrow {
    position: absolute;
    top: 8px;
    right: 18px;
  }

  select {
    appearance: none;
    background: transparent;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    color: #757575;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 45px;
    margin-right: 8px;
    outline: none;
    padding: 14px 18px 14px 18px;
    width: 100px;
  }
}