.Modal {
  background: #ffffff;
  border-radius: 8px;
  width: 670px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__overlay {
    background: linear-gradient(
        233.13deg,
        rgba(107, 149, 227, 0.8) 0%,
        rgba(103, 54, 107, 0.8) 100%
      ),
      #62538b;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
  }

  &__header {
    background: linear-gradient(261.43deg, #6b95e3 0%, #6784d0 100%);
    border-radius: 8px 8px 0 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 38px 50px 32px 48px;
    width: 670px;
  }

  &__body {
    padding-top: 50px;
  }

  &__title {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 0;
  }
}
