/* Mobile */
@media (max-width: 481px) {
  .Header {
    button {
      outline: none;
    }
    .navbar {
      align-items: flex-start;
      flex-direction: column;
    }
    &__nav {
      display: none;
      &--expanded {
        display: block;
      }
    }
  }
}
