.Modal {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ModalSearch {
  display: flex;
  align-items: center;
  position: relative;

  span {
    padding: 0 15px;
  }

  input {
    background: #ffffff;
    border-right: 0;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px 0 0 3px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    height: 45px;
    width: 300px;
    padding-left: 40px;
    outline: none;
  }
  a {
    position: absolute;
    left: 15px;
  }
}
.ModalFooter {
  align-items: center;
  background: #fafafa;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 30px;

  &__footer-link {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }
  &__footer-action {
    display: flex;
    flex-direction: row;
    height: 45px;
  }
  button {
    background: linear-gradient(
        0deg,
        rgba(45, 156, 219, 0.56),
        rgba(45, 156, 219, 0.56)
      ),
      #ad78c9;
    border: 0;
    border-radius: 2.81458px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    outline: none;
    text-align: center;
    width: 160px;
  }
}

.Invitation {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 154px;
  margin: 28px 0 26px 0;
  overflow-y: auto;

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:not(:first-child) {
      margin-top: 22px;
    }
    button {
      width: 130px;
      height: 30px;
      margin-right: 20px;
    }
  }

  &__block-photo {
    border-radius: 3px;
    margin-right: 10px;
  }

  &__block-information {
    display: flex;
    flex-direction: column;
    margin-right: 136px;
    font-size: 13px;
    p {
      color: #666666;
      font-weight: 600;
      margin: 0;
    }
    a {
      color: #666666;
      margin: 0;
      text-decoration: none;
    }
  }
  &__block-activity {
    align-self: center;
    color: #bababa;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
::-webkit-scrollbar {
  border-radius: 3px;
  width: 5px;
  background: #f7f7f7;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 3px;
  width: 5px;
}
