.ModalFooter {
  align-items: center;
  background: #fafafa;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 30px 50px;
  width: 670px;

  &__link {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }

  &__action {
    display: flex;
    flex-direction: row;
    height: 45px;
    .ButtonSelect {
      margin-right: 8px;
    }
  }

  &__action-button {
    background: linear-gradient(
        0deg,
        rgba(45, 156, 219, 0.56),
        rgba(45, 156, 219, 0.56)
      ),
      #ad78c9;
  }
}
